button{
    background-color: lightblue;
    border: 1px solid transparent;
    color: unset;
    border-radius: 8px;
    outline: none;
    padding: 8px 24px;
    font-family: sans-serif;
    transition: all 200ms linear;
}
button:hover{
    background-color: white;
    border: 1px solid lightblue;
}
button:focus{
    box-shadow: 0 0 0 2px black inset;
}